body{
    background-color: #6a3093;
}
.title{
    color: white;
    font-size: 80px;
    font-style: bold;
}
.container-header{
    background-image: url('./../assets/img/farm-bg.jfif');
    background-size: cover;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px white;
}
.login-screen{
    text-align: center;
    margin: 10px;
    padding: 10px;
    color: #6a3093;
}
.heading{
    color: white;
}
.container-products{
    background-color: #0f9b0f;
    padding: 20px;
    margin-top: 100px;
    
}
.product-card{
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px;
    box-shadow: 0px 0px 10px #6a3093;
    transition: 0.03s;
}
.product-card:hover{
    transform: scale(1.07);
}
.card-auth{
    height: 300px;
    width: 240px;
    margin: 10px;
    background-image: linear-gradient(#52c234,#061700);
    border-radius: 25px;
    box-shadow: 0px 0px 10px black;
    transition: 00.03s;
}
.card-auth:hover{
    transform: scale(1.07);
}
.card-btn{
    border-radius: 10px;
    background-color: #6a3093;
    color: white;
}
.card-head{
    color: #6a3093;
}